@model Krakostop.Models.Pair

@{
    ViewBag.Title = "Usuwanie";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var fullName1 = string.Empty;
    var fullName2 = string.Empty;
    if (Model.Persons.Count > 1)
    { 
        fullName1 = Model.Persons.ElementAt(0).Name + " " +
            Model.Persons.ElementAt(0).Surname;
        fullName2 = Model.Persons.ElementAt(1).Name + " " +
            Model.Persons.ElementAt(1).Surname;
    }
}

<h3>@ViewBag.Title</h3>

<h5>Jesteś pewien, że chcesz usunąć tę parę?</h5>
<div>
    <h4>@fullName1 @fullName2</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Potwierdź" class="btn btn-primary btn-lg" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
