@model Krakostop.Models.Pair

@{
    ViewBag.Title = "Płatności";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<h5>Jesteś pewien, że chcesz zatwierdzić płatność dla pary?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Potwierdź" class="btn btn-primary btn-lg" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
