@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}
<div class="login-wrap">
    <h3>Jak sie brać / nie brać do łapania?</h3>
    <br />
    Początkujących odsyłamy do lektury obowiązkowej przed pierwszą przygodą - w plecaku wspomnień naszego kolegi Kuby znajdziecie nie jedną dobrą radę, inspirującą historię i niepowtarzalne zdjęcia z jego niezliczonych wypraw!
    <br /><br />
    <div class="centered"><a target="_blank" href="http://www.plecakwspomnien.eu/2012/04/auto-start-pierwsze-kroki-autostopowej"><img src="~/Images/plecak.jpg" width="50%" /></a></div>
    <br /><br />
    Siekiera niekoniecznie może okazać się trafnym środkiem motywującym... kto oglądał " The Hitcher" pewnie wie o czym mowa. Kilka oczywistych lub mniej oczywistych wskazówek co, gdzie, jak!
    <br /><br />
    <div class="centered"><img width="50%" src="~/Images/siekiera.jpg" /></div>
    <br /><br />
    <b>Czas?</b><br />
    Może nie świt, ale im wcześniej tym więcej dnia na łapanie (dacie wiarę?!), także na tą okazję warto zwalczyć w sobie głębokie uczucia do łóżka. Dzień dla autostopowicza kończy się równo z nadejściem zmroku. Świecenie czołówkami w stronę samochodów może nie przynieść zadowalających rezultatów...
    <br /><br />
    <b>Miejsce?</b>
    <br />
    I tu wiele czynników ma wpływ. Nie oczekujcie zbyt wiele, gdy ustawicie się przy drodze osiedlowej (samochody z matkami po zakupach w POLO Markecie i odwożącymi dzieci z przedszkola to chyba nie te, które się zatrzymają?) przy zakręcie, pod górkę, z górki, gdzie samochody zdążyły się już dawno rozpędzić, a także tam gdzie nie ma pobocza, na którym kierowca bez obaw może się zatrzymać. Dobre miejsce to primo - wylotówka w kierunku w którym dokładnie chcecie się udać - dla pewności, nie wstydźcie się zaprzyjaźnić z instrukcją obsługi mapy miasta;p Secundo - szerokie i widoczne pobocze - lub przystanek autobusowy. Dla ścisłości - początek a koniec pobocza robi różnicę gdy się ustawiamy (jeśli naprawdę nam zależy żeby kierowca zdążył zahamować i zjechać jak już zauważy nasze pełne nadziei machanie oraz zechce przyjąć na swe pachnące nowością skórzane siedzenia)
    <br /><br />
    <b>Teoria Wielkiego Podrywu?</b>
    <br />
    - zgrabny palec (najlepiej czystej;) ręki)
    - napis: im większy i bardziej oryginalny tym lepiej. może świecić, cieszyć oczy rysunkami, grać melodyjkę, pełna dowolność. byle spod radosnej twórczości było widać dokąd się udajecie...
    - wygląd: wiadomo, że sprężysta łydka może wiele zdziałać ale uważajcie na to jacy kierowcy będą zainteresowani;> szczególnie, kiedy sama płeć piękna tworzy drużynę. amerykańscy psycholodzy i psychologowie głoszą, że bardziej ufamy osobom uśmiechniętym, ("ta, po 5 godzinach na jednej stacji łatwo Wam powiedzieć, uśmiechnij się, co organizatorzy?!" - ale co prawda to prawda!), bez okularów słonecznych (oczy zwierciadłem duszy?) oraz nie kapiącym od deszczu;) (jeden parasol na parę nie zaszkodzi)
    <br /><br />
    <b>Du Ju Spik?</b>
    <br />
    Bardzo istotna jest znajomość podstawowych zwrotów w języku kierowcy, a do tego warto przygotować się trochę wcześniej. Dlatego odsyłamy Was do przydatnego słowniczka, a przy okazji strony pełnej ciekawych porad na temat podróży autostopem.
    Lektura w sam raz na odświeżenie j.angielskiego.<br />
    http://www.hitch-hiking.org/dictionary.htm
    <br /><br />
    <b>Autostopowy Savoir-Vivre</b>
    <br />
    - Nie bądź „gdburem” i nie dłub w nosie- trzeba miec trochę kultury i okrzesania<br />
    - Bądź tolerancyjny dla innych kultur.<br />
    - Rozmawiaj z kierowcą! Na długie trasy zabierają ci, którzy są spragnieni towarzystwa, konwersacji, są otwarci na nowe znajomości. Zatem warto nauczyc sie choc kilku zwrotów w jezyku chorwackim.
    <br />
    - Pakuj się „w miare” kompaktowo- plecaki bez stelarzy, tak by w razie potrzeby zmieściły sie na Twoich kolanach.
    <br />
    - Nie zapomnij o pelerynie, by w deszczu nie wybrudzić siedzeń eleganckiego Mercedesa.
    <br />
</div>

