@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}
<div class="login-wrap">
    <h3 class="centered">
        REGULAMIN<br />
        WYŚCIGU AUTOSTOPOWEGO KRAKOSTOP
    </h3>
    <br />
    <b>I. Organizator.</b><br />
    1. Nazwa imprezy: <b>WYŚCIG AUTOSTOPOWY KRAKOSTOP</b><br />
    2. Organizator imprezy:<br /><br />

    <div class="centered">
        <b>Koło Naukowe Geoturystyka działające na</b><br />
        Wydziale Geologii, Geofizyki i Ochrony Środowiska<br />
        Akademia Górniczo-Hutnicza<br />
        im. Stanisława Staszica w Krakowie<br /><br />
    </div>
    3. Strona imprezy:<br />
    www.krakostop.pl<br />
    www.facebook.pl/krakostop<br /><br />

    <b>II. Czas i miejsce.</b><br />
    1. Zawody odbędą się w dniach 29 kwietnia – 3 maja 2015 roku na trasie z Krakowa na Francuską Riwierę (Francja).
    2. Start odbędzie się z terenu Akademii Górniczo Hutniczej w Krakowie, 29 kwietnia
    o godz. 8.30.<br />
    3. Meta znajdować się będzie na wyznaczonym przez organizatora campingu na Francuskiej Riwierze.
    <br /><br />
    <b>III. Założenia organizacyjne.</b><br />
    1. Celem zawodów jest wyłonienie drużyny, która w jak najkrótszym czasie, wyłącznie za pomocą autostopu pokona trasę Kraków-Francuska Riwiera, a także propagowanie rekreacji oraz dobrej zabawy poprzez podróżowanie i zdobywanie nowych doświadczeń.
    <br />
    2. Transport na trasie Kraków-Francuska Riwiera dozwolony jest wyłącznie za pomocą autostopu.
    Dopuszczone jest jednak poruszanie się komunikacją miejską w Krakowie oraz w promieniu 10 kilometrów od miast liczących powyżej 100 tys. mieszkańców.
    <br /><br />
    <b>IV. Uczestnictwo.</b><br />
    1. W Krakostopie mogą brać udział wyłącznie drużyny dwuosobowe, składające się z zawodników, którzy ukończyli 18 rok życia.
    <br />
    2. Limit miejsc wynosi 200 par, decyduje kolejność zgłoszeń.
    <br /><br />
    <b>V. Zgłoszenia.</b><br />
    1. Warunkiem wzięcia udziału w wyścigu jest dokonanie do dnia  08.04.2015r. pełnej rejestracji na stronie www.krakostop.pl. Na pełną rejestrację składają się:
    <br />
    a) wypełnienie w całości formularz zgłoszeniowego,
    <br />
    b) przesłanie na krakostop@gmail.com potwierdzenia dokonania przelewu opłaty wpisowej.
    <br />
    2. Formularz zgłoszeniowy każdej drużyny musi zostać własnoręcznie podpisany przez uczestników wyścigu. Podpisu na formularzu można dokonać przed rozpoczęciem wyścigu, w momencie odbierania pakietu startowego i koszulki. Formularz zgłoszeniowy niezawierający własnoręcznych podpisów uczestników jest nieważny.
    <br />
    3. Warunkiem koniecznym jest stawienie się każdego uczestnika w dniu rozpoczęcia wyścigu na starcie o godz. 7.00.
    <br /><br />
    <b>VI. Opłaty.</b><br />
    1. Każdy uczestnik ponosi opłatę wpisową. Wynosi ona od pary 70 zł.
    <br />
    2. Kwota pokrywa koszty organizacyjne, pakiet startowy oraz pamiątkową koszulkę.
    <br />
    3. Opłatę należy dokonać na konto bankowe:
    <br /><br />
    <div class="centered">
        Dawid Kmieć,<br />
        ul. Kaczkowskiego 3/3,<br />
        33-100 Tarnów<br />
        71 1600 1013 1844 0174 4000 0001<br />
        z dopiskiem: KRAKOSTOP, imię i nazwisko jednego i drugiego uczestnika.
    </div>
    <br /><br />
    <b>VII. Nagrody.</b><br />
    1. Pierwsze trzy pary, które dotrą na miejsce mety zostaną uhonorowane nagrodami.
    <br />
    2. Nagrody zostaną przyznane podczas spotkania integracyjnego zorganizowanego na campingu w dniu 2 maja 2015 roku.
    <br />
    3. Organizator zastrzega sobie prawo do nieprzyznania głównej nagrody drużynie, która naruszyła postanowienia niniejszego regulaminu.
    <br /><br />
    <b>VIII. Postanowienia ogólne.</b><br />
    1. W razie rezygnacji przez drużynę dozwolone jest znalezienie zastępców na swoje miejsce. Organizator zastrzega sobie prawo do nie zwracania opłaty, o której mowa w punkcie VI, ustęp 1 w przypadku, jeśli rezygnacja nie zostanie zgłoszona 2 tygodnie przed zaplanowanym startem wyścigu.
    <br />
    2. Uczestnicy Krakostopu  powinni zaopatrzyć  się w ubezpieczenie na czas trwania wyścigu we własnym zakresie. Nie jest ono wliczone w opłatę wpisową.
    <br />
    3. Uczestnicy Krakostopu  ponoszą pełną odpowiedzialność za siebie w trakcie trwania zawodów.
    <br />
    4. Za szkody spowodowane podczas trwania wyścigu, a także na campingu odpowiada każdy indywidualnie.
    <br />
    5. Organizator nie pokrywa Uczestnikom Krakostopu kosztów powrotu z wyjazdu, wyżywienia oraz noclegów.
    <br />
    6. Informacje dodatkowe:
    <br />
    a) udział w wyścigu jest dobrowolny,
    <br />
    b) zawody odbędą się bez względu na pogodę,
    <br />
    c) osoby biorące udział w wyścigu wyrażają zgodę na podanie swoich danych osobowych w środkach masowego przekazu informujących o imprezie,
    <br />
    d) korzystanie z pojazdów, których kierowcami lub pasażerami są osoby spokrewnione z zawodnikami jest zabronione
    <br />
    7. W razie pytań prosimy o kontakt na adres mailowy krakostop@gmail.com.
    <br />
    8. Organizator zastrzega sobie prawo zmiany regulaminu bez podania przyczyny najpóźniej 10 dni przed planowanym startem wyścigu.
    <br />
    9. Rejestracja oraz wpłata wpisowego jest jednoznaczna z akceptacją niniejszego regulaminu.


</div>

